<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Bootsrap CDN & Icons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="../static/css/pageCss.css" th:href="@{/css/pageCss.css}" >

    <title>Admin Accounting</title>
</head>
<body>
<div class="container">
    <div class="header-title">
        <div class="d-flex align-items-center justify-content-between">
            <div class="left d-flex align-items-center justify-content-left">
                <img th:src="@{/images/alliance.svg}" alt="">
                <h2> Claims Application</h2>
            </div>
            <div class="right">
                <a th:href="@{/logout}"><button class="btn btn-secondary">Logout</button></a>
            </div>
        </div>
    </div>

    <section class="pt-5 mb-4">
        <div class="profile-info pb-2">
            <div class="profile-title">
                <h5 class="text-left">Profile</h5>
            </div>
            <div class="profile-card">
                <div class="row">
                    <div class="col-3">
                        <div class="profile-name">
                            <h6 th:text="${session.user.fullName}"></h6>
                            <p th:text="${session.user.email}"></p>
                        </div>
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="profile-desc">
                            <h6 th:text="${session.user.usertype}"></h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="profile-action d-flex align-items-center justify-content-end">
                            <div class="pr-2">
                                <button class="edit"  data-toggle="modal" data-target="#editInfo" >Edit</button>
                            </div>
                            <div class="pr-1">
                                <button class="change" data-toggle="modal" data-target="#changePass" >Change Password</button>
                            </div>
                            <i class='bx bxs-trash' ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="tab pt-2 d-flex align-items-center justify-content-start">
            <div class="user-profile active-menu" data-target-tab="#user">
                <h5>User Profiles</h5>
            </div>
            <div class="claims" data-target-tab="#claims">
                <h5>Claims</h5>
            </div>
        </div>

        <div class="content-details row flex-column active pt-2"  id="user">
            <div class="content p-3">
                <h5>User List</h5>
                <div class="table-card">

                    <div class="sort d-flex align-items-center justify-content-between pr-3">
                        <h6>Search: </h6>
                        <input type="text">
                        <select name="" >
                            <option value="">All</option>
                            <option value="">Techical</option>
                            <option value="">Accounting</option>
                            <option value="">Sales</option>
                        </select>
                    </div>

                    <div class="add-but text-right pt-3 pb-2 pr-3">
                        <button data-toggle="modal" data-target="#addUser">Add User</button>
                    </div>

                    <div class="data pt-3">

                        <div class="data-card p-3 m-2" th:each="user : ${users}" th:if="${user.id} != ${session.user.id}">
                            <div class="row d-flex align-items-center">
                                <div class="col-4">
                                    <h6 class="name" th:text="${user.fullName}"></h6>
                                </div>
                                <div class="col-4">
                                    <p class="email" th:text="${user.email}"></p>
                                </div>
                                <div class="col-2">
                                    <h6 class="position" th:text="${user.usertype}"></h6>
                                </div>
                                <div class="col-2 text-right">
                                    <a th:href="@{/delete/}+${user.id}"><i class='bx bxs-trash'></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div class="content-details row flex-column pt-2" id="claims">
            <div class="content p-3">
                <h5>Claims List</h5>
                <div class="claims-card">

                    <div class="sort d-flex align-items-center justify-content-around pr-3">
                        <h6>Search: </h6>
                        <input class="searchbar" type="text">
                        <input type="date">
                        <select name="" >
                            <option value="">All</option>
                            <option value="">Techical</option>
                            <option value="">Accounting</option>
                            <option value="">Sales</option>
                        </select>
                    </div>

                    <div class="claims-table">
                        <table>
                            <tr>
                                <th>Status</th>
                                <th>Billing Date</th>
                                <th>Transaction No.</th>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Invoice</th>
                            </tr>
                            <tr class="table-data"  data-toggle="modal" data-target="#claimsModal" th:each="claimData : ${claims}" th:attr="claimid=${claimData.id}" claimStat="">
                                <td class="text-center" ><i class='bx bxs-circle status_display' th:attr="claimid=${claimData.id}"></i></td>
                                <td><p th:text="${claimData.billing_date}"></p></td>
                                <td><p th:text="${claimData.transactionNo}"></p></td>
                                <td><p th:text="${claimData.user.fullName}"></p></td>
                                <td><p th:text="${claimData.company}"></p></td>
                                <td>
                                    <a th:href="@{'/claim/download?id=' + ${claimData.id}}"><button>Download</button></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>


        <!-- MODAL -->

        <!-- Edit Information -->
        <div class="modal fade" id="editInfo" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <h5 class="modal-title">Edit Information</h5>
                    <form th:action="@{/edit/}+${session.user.id}" method="post">
                    <div class="modal-body d-flex flex-column">
                        <label>First Name</label>
                        <input type="text" th:name="firstName" th:value="${session.user.firstName}" required>
                        <div class="p-2"></div>
                        <label>Last Name</label>
                        <input type="text" th:name="lastName" th:value="${session.user.lastName}" required>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="pr-3 pt-3">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="pr-3 pt-3">
                            <button type="submit" class="btn btn-success">Save changes</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Change Password -->
        <div class="modal fade" id="changePass" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <h5 class="modal-title">Change Password</h5>
                    <form th:action="@{/accounting/changePass/}+${session.user.id}" method="post">
                    <div class="modal-body d-flex flex-column">
                        <input type="hidden" id="adminID" th:value="${session.user.id}"> 
                        <label>Current Password</label>
                        <input type="password" th:name="curr_password" id="adminCurrPass" required >
                        <div class="p-3"></div>
                        <label>New Password</label>
                        <input type="password" th:name="password" id="adminnewPass" required>
                        <div class="p-1"></div>
                        <label>Confirm Password</label>
                        <input type="password" th:name="conf_password" id="adminconfPass" required>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="pr-3 pt-3">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="pr-3 pt-3">
                            <button type="submit" id="save-btn" class="btn btn-success" onclick="changeUser(event)">Save changes</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Add User -->
        <div class="modal fade" id="addUser" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create User</h5>
                    <form th:action="@{/register}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-flex align-items-start flex-column">
                                    <label class="pt-2">First Name</label>
                                    <input type="text" th:name="firstName" required>
                                    <label class="pt-2">Email</label>
                                    <input type="email" th:name="email" required>
                                    <label class="pt-2">Confirm Password</label>
                                    <input type="password" th:name="confPass" id="addcurrPass" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-start flex-column">
                                    <label class="pt-2">Last Name</label>
                                    <input type="text" th:name="lastName" required>
                                    <label class="pt-2">Password</label>
                                    <input type="password" th:name="password" id="addpass"  required>
                                    <label class="pt-2">Department</label>
                                    <select th:name="usertype">
                                        <option th:value="Sales">Sales Team</option>
                                        <option th:value="Accounting">Accounting</option>
                                        <option th:value="Technical">Technical Support</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="pr-3 pt-3">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="pr-3 pt-3">
                            <button type="submit" class="btn btn-success" onclick="saveUser(event)" >Save changes</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- CLAIMS MODAL -->

        <!-- Claim Information -->
        <div class="modal fade" id="claimsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <h5 class="modal-title" >Claim Information</h5>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-5">
                                <div class="modal-info">
                                    <h6>Claim status</h6>
                                    <h6>Transaction Number</h6>
                                    <h6>Issued by</h6>
                                    <h6>Company</h6>
                                    <h6>Commission</h6>
                                    <h6>Net Amount</h6>
                                    <h6>Billing Date</h6>
                                    <h6>Release Date</h6>
                                    <h6>Collection Date</h6>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="double">
                                    <p class="m-0">:</p>
                                    <p class="m-0">:</p>
                                    <p class="m-0">:</p>
                                    <p class="m-0">:</p>
                                    <p class="m-0" >:</p>
                                    <p class="m-0">:</p>
                                    <p class="m-0">:</p>
                                    <p class="m-0">:</p>
                                    <p class="m-0">:</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="modal-info-data">
                                    <h6 id="claimStat_display">for commission release</h6>
                                    <h6 id="transactionNo_display">2205181126475474</h6>
                                    <h6 id="userFullName_display">Junky Dubs</h6>
                                    <h6 id="company_display">Jollibee</h6>
                                    <h6 id="commission_display">Commission is not yet released</h6>
                                    <h6 id="net_display">asdasd</h6>
                                    <h6 id="billingDate_display">2022-05-18</h6>
                                    <h6 id="releaseDate_display">No release date yet</h6>
                                    <h6 id="collectionDate_display">Claim is not yet collected</h6>
                                </div>

                            </div>
                        </div>
                        <div class="my-3" id="commissionUpdateDiv" style="display: none;">
                            <div class="d-flex justify-content-between align-items-center commissionUpdate" >
                                <div>
                                    <label class="pt-2">Commission Rate: </label>
                                    <input type="text" id="commission_input" class="w-75 mr-2">
                                </div>
                                <div>
                                    <label class="pt-2">Net Amount:</label>
                                    <input type="text" id="netAmount_input" class="w-75 ml-2">
                                </div>
                            </div>
                            <div class="text-right mt-3">
                                <button id="submitCom" type="button" class="btn btn-success">Save changes</button>
                            </div>
                        </div>
                        <div class="my-3" id="tagClaimAsCollected" style="display: none;">
                            <button id="claimDone" type="button" class="btn btn-warning">Tag as collected</button>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="pr-3 pt-3">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
</body>
<script type="text/javascript">
    var selectedClaim;
    //setStatus display
    $(document).ready(function(){
        $(".status_display").each(function(){
           var claimid = $(this).attr("claimid");
           var elementDisp = $(this);
           var setTRStat = $(this).parent().parent();
           $.ajax({
                url: "/claim/getClaimStatus",
                type: "GET",
                data: {
                    id: claimid
                },
                success: function(data){
                    if(data == "for commission release"){
                        elementDisp.addClass("statusForRelease");
                        setTRStat.attr("claimStat", "for commission release");
                    }
                    if(data == "for collection"){
                        elementDisp.addClass("statusForCollect");
                        setTRStat.attr("claimStat", "for collection");
                    }
                    if(data == "collected"){
                        elementDisp.addClass("statusCollected");
                        setTRStat.attr("claimStat", "collected");
                    }
                    if(data == "overdue"){
                        elementDisp.addClass("statusOverdue");
                        setTRStat.attr("claimStat", "overdue");
                    }
                }
            });
        });
    });

    // Set claim information on modal
    $(".table-data").click(function(){
        var claimid = $(this).attr("claimid");
        selectedClaim = claimid;
        var claimStatusContext = $(this).attr("claimStat");
        $.ajax({
            url: "/claim/getClaimRecord",
            type: "GET",
            data:{
                id: claimid,
            },
            success: function(data){
               $("#claimStat_display").text(claimStatusContext);
               $("#transactionNo_display").text(data["transactionNo"]);
               $("#userFullName_display").text(data["user"].fullName);
               $("#company_display").text(data["company"]);
               $("#billingDate_display").text(data["billing_date"]);

               if(data["commission"] == null){
                    $("#commission_display").text("Commission not yet released");
                    $("#commissionUpdateDiv").css("display", "");
               } else {
                    $("#commission_display").text(data["commission"]);
                    $("#commissionUpdateDiv").css("display", "none");
               }

               if(data["net_amt"] == null){
                    $("#net_display").text("Net amount not yet released");
               } else {
                    $("#net_display").text(data["net_amt"]);
               }

               if(data["release_date"] == null){
                    $("#releaseDate_display").text("Release date not yet settled");
               } else {
                    $("#releaseDate_display").text(data["release_date"]);
               }

               if(data["collection_date"] == null){
                    $("#collectionDate_display").text("Claim is not yet collected");

               } else {
                    $("#collectionDate_display").text(data["collection_date"]);

               }


               if(data["collection_date"] == null && data["release_date"] != null) {
                    $("#tagClaimAsCollected").css("display", "");
               } else {
                    $("#tagClaimAsCollected").css("display", "none");
               }
            }
        });
    });

    // MENU
    $(document).on('click','claims',function(){
        $(this).addClass('active-menu');
        $(".claims").removeClass('active-menu');
    });

    $(document).on('click','.user-profile',function(){
        $(this).addClass('active-menu');
        $(".user-profile").removeClass('active-menu');
    });


    // TAB CONTENT still not working
    const tab_btns = document.querySelectorAll("[data-target-tab]");
    const tab_contents = document.querySelectorAll(".content-details");

    tab_btns.forEach((btn) => {
    btn.addEventListener("click", () => {
        tab_btns.forEach((btn) => btn.classList.remove("active"));
        tab_contents.forEach((btn) => btn.classList.remove("active"));

        btn.classList.toggle("active");
        document.querySelector(btn.dataset.targetTab).classList.add("active");
    });
    });
    
    // ADD USER Password Confirmation
    function saveUser(e){

        const addPass = document.getElementById("addpass").value;
        const addCurrPass = document.getElementById("addcurrPass").value;


        if (addPass != addCurrPass) {
            e.preventDefault();
            swal(
                            'DOES NOT MATCH',
                            'Make sure confirm password matches password',
                            'error'
                        )
        }        

    }
    function changeUser(e){

    const adminnewPass = document.getElementById("adminnewPass").value;
    const adminconfPass = document.getElementById("adminconfPass").value;

        if (adminnewPass != adminconfPass) {
        e.preventDefault();
        swal(
                            'DOES NOT MATCH',
                            'Make sure confirm password matches new password',
                            'error'
                        )

    }
}

$('#submitCom').click(function(){
        var comInput = $('#commission_input').val();
        var netInput = $('#netAmount_input').val();

        if(comInput == "" || netInput == ""){
            alert("Please put a valid number on the input fields");
        } else {
            $.ajax({
                url: "/claim/updateClaimRelease",
                type: "POST",
                data: {
                    id: selectedClaim,
                    net_amt: netInput,
                    commission: comInput
                }, beforeSend: function() {
                    $("#modalLoadingTrigger").trigger("click");
                },
                success: function(data){
                    location.reload();
                }
            });
        }
    });

    $('#claimDone').click(function(){
        var comInput = $('#netAmount_input').val();
        $.ajax({
            url: "/claim/tagClaimDone",
            type: "POST",
            data: {
                id: selectedClaim
            }, beforeSend: function() {
                $("#modalLoadingTrigger").trigger("click");
            },
            success: function(data){
                location.reload();
            }
        });
    });


</script>

<script>
    $(document).on('click','#save-btn',function(e){     
        e.preventDefault(); 
        currentPassword = $("#adminCurrPass").val();
        adminID = $("#adminID").val();
        $.ajax({
                url: "/confirmpassword",
                type: "POST",
                data:{cpass:currentPassword, admID:adminID},
                success: function(data){
                    if (data == "Not matched") {
                        swal(
                            'User Not Found',
                            'Make sure your current password is correct',
                            'error'
                        )
                    }
                }
                
            });
    });
</script>
</html>